<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img mat-card-image src="assets/pp.jpeg" routerLink="/dashboard" style="width: 10%;">
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/register-tray" (click)="toggleSidenav()">Register Tray</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item routerLink="/predefine-data" (click)="toggleSidenav()">Predefined Data</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item routerLink="/registered-devices" (click)="toggleSidenav()">Registered Devices</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item routerLink="/inventory" (click)="toggleSidenav()">Inventory</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>