<form [formGroup]="firstFormGroup">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="firstCtrl" required [(ngModel)]="messageNfcModel.name">
  </mat-form-field>

  <ng-template matStepLabel>Hotel Information</ng-template>
  <mat-form-field>
    <!-- <input matInput placeholder="Country" formControlName="countryCtrl" required [(ngModel)]="messageNfcModel.country"> -->
    <mat-select placeholder="Country" [ngModelOptions]="{standalone: true}" *ngIf="counties"
      [(ngModel)]="messageNfcModel.country" #countrySelect (ngModelChange)="onCountryChange(countrySelect.value)">
      <mat-option *ngFor="let country of counties" [value]="country.id">
        {{country.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="City" [ngModelOptions]="{standalone: true}" *ngIf="cities"
      [(ngModel)]="messageNfcModel.city" #citySelect (ngModelChange)="onCityChange(citySelect.value)">
      <mat-option *ngFor="let city of cities" [value]="city.id">
        {{city.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Hotel Name" [ngModelOptions]="{standalone: true}" *ngIf="hotels"
      [(ngModel)]="messageNfcModel.hotelId" #hotelSelect (ngModelChange)="onHotelChange(hotelSelect.value)">
      <mat-option *ngFor="let hotel of hotels" [value]="hotel.id">
        {{hotel.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="Room" formControlName="roomId" required
      [(ngModel)]="messageNfcModel.roomId">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" min="0" max="1023" placeholder="Light Sensitivity" formControlName="lightSensitivity"
      required [(ngModel)]="messageNfcModel.lightSensitivity">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="wifi Name" formControlName="wifiNameCtrl" required
      [(ngModel)]="messageNfcModel.wifiName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" formControlName="wifiPasswordCtrl" required
      [(ngModel)]="messageNfcModel.wifiPassword">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Device-ID" formControlName="deviceId" readonly [(ngModel)]="messageNfcModel.deviceId">
  </mat-form-field>
  <div>
    <button mat-button (click)="sendMessageToNfc()">Register</button>
    <button mat-button (click)="resetForm()">Reset</button>
    <button mat-button (click)="resetRoomNumner()">Reset Room</button>
  </div>
</form>